<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form method="POST" action="/login">
    <h3>Email</h3>
    <input type="email" name="email" placeholder="Email"/>
    <h3>Password</h3>
    <input type="password" name="password" placeholder="Password"/>
    <button type="submit" class="btn-btn-primary">Login</button>
  </form>
  
</body>
</html>